.alert {
  border: solid 1px;
  padding: 5px;
  text-align: center;
  color: white;
  margin: 10px;
}
.success {
  border: darkgreen;
  background: rgba(0, 128, 0, 0.71);
}
.warning {
  border: darkred;
  background: rgba(255, 0, 0, 0.71);
}
